* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.m-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
button {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(207, 224, 219);
  border-radius: 5px 5px 0px 5px;
  border: none;
  padding: 10px;
}

.card-body {
  position: relative;
}

span {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #a52a2a;
  color: #ffffff;
  border-radius: 5px 0 5px 0;
  padding: 10px;
}

.user-id {
  color: #a52a2a;
  font-weight: 800;
}

.card-title {
  font-size: 18px;
  margin-top: 10px;
}

button {
  color: white;
  background-color: rgb(74, 190, 190);
  border: none;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
}

img {
  width: 100%;
  height: 250px;
  border-radius: 50%;
}

#rmvbtn {
  background-color: #a52a2a;
  width: 200px;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 10px;
  cursor: pointer;
}

#rmvbtn:hover {
  background-color: rgb(201, 45, 45);
  color: black;
}

@media screen and (max-width: 700px) {
  .m-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 522px) {
  .m-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .m-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
